<!DOCTYPE html>

<html>
<head>
<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<div class = "container" style="background:#F5F8FA;>
<div class = "row" style="margin-top:300px">
<div class = "col-md-4">
<h4> Latitude : <%= latitude %> </h4>
<h4> Longitude : <%= longitude %> </h4>
</div>
<div class = "col-md-4">
<img src = <%= title %> class="img-thumbnail" />
</div>
<div class = "col-md-4">
</div>
</div>
</div>
</body>
</html>

